{% extends 'base.html' %}

{% block title %} {{block.super}} | Login {% endblock%}

{% block content %}
{% load static %}
<!-- Page Header Section Start -->
<div id="pageHeader" class="pd--80-0" data-bg-img="{% static "img/bg.jpg" %}">
    <div class="container">
        <!-- Page Header Title Start -->
        <div class="page-header--title pull-left">
            <h1 class="h1">Login</h1>
        </div>
        <!-- Page Header Title End -->

        <!-- Page Header Breadcrumb Start -->
        <div class="page-header--breadcrumb pull-right">
            <ul class="breadcrumb">
                <li><a href="{% url "home" %}"><i class="fa fa-home"></i></a></li>
                <li class="active">Login</li>
            </ul>
        </div>
        <!-- Page Header Breadcrumb End -->
    </div>
</div>
<!-- Page Header Section End -->

<!-- Login Section Start -->
<div id="login" class="pd--100-0">
    <div class="container">
        <!-- Login Wrapper Start -->
        <div class="login--wrapper">
            <div class="row row--vc">
                <!-- Login Content Start -->
                <div class="login--content text-center col-sm-6 pt--100 pb--100">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Login Logo Start -->
                            <div class="login--logo">
                                <img src="img/login-img/logo.png" alt="" data-rjs="2">
                            </div>
                            <!-- Login Logo End -->

                            <!-- Login Text Start -->
                            <div class="login--text">
                                <h2 class="h1">Welcome</h2>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                            <!-- Login End Start -->

                            <!-- Social Widget Start -->
                            <div class="social--widget">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <!-- Social Widget End -->
                        </div>
                    </div>
                </div>
                <!-- Login Content End -->

                <!-- Login Form Start -->
                <div class="login--form col-sm-6 pt--100 pb--100" data-form-validation="true">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <form action="http://billing.ywhmcs.com/dologin.php?systpl=GREENSSD" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        
                                        <input type="text" name="username" class="form-control" placeholder="Username or E-mail" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-unlock"></i>
                                        </div>

                                        <input type="password" name="password" class="form-control" placeholder="Username or E-mail" required>
                                    </div>
                                </div>

                                <div class="help-block clearfix">
                                    <div class="checkbox pull-left">
                                        <label>
                                            <input type="checkbox" name="rememberme">
                                            <span>Remember me</span>
                                        </label>
                                    </div>

                                    <a href="http://billing.ywhmcs.com/pwreset.php?systpl=GREENSSD" class="btn-link pull-right">Forgot Password ?</a>
                                </div>

                                <footer class="clearfix">
                                    <button type="submit" class="btn btn-default active pull-left">Login</button>
                                    <br>
                                    <span class="or">OR</span>
                                    <a href="{% url 'signup' %}" class="btn btn-default pull-right">Sign Up</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Login Form End -->
            </div>
        </div>
        <!-- Login Wrapper End -->
    </div>
</div>
<!-- Login Section End -->

{% endblock %}