{% extends 'base.html' %}

{% block title %} {{block.super}} | Home {% endblock %}

{% block content %}
{% load static %}
<!-- Banner Section Start -->
<div id="banner">
    <!-- Banner Slider Start -->
    <div class="banner--slider owl-carousel" data-owl-dots="true">
        <!-- Banner Item Start -->
        <div class="banner--item" data-bg-img="{% static 'img/home-banner-img/slider-item-01.png' %}">
            <div class="container">
                <div class="row">
                    <!-- Banner Image Start -->
                    <div class="banner--img col-md-6">
                        <img src="{% static 'img/home-banner-img/slider-item-01.png' %}" alt="" data-rjs="2">

                        <!-- Banner Offer Start -->
                        <div class="banner--offer">
                            <p>Up to <strong>30%</strong> Discount on Any Items</p>
                        </div>
                        <!-- Banner Offer Start -->

                        <!-- Banner Offer Start -->
                        <div class="banner--offer large">
                            <p>Starting at <strong>$4.99</strong> Per Year</p>
                        </div>
                        <!-- Banner Offer End -->
                    </div>
                    <!-- Banner Image End -->

                    <!-- Banner Content Start -->
                    <div class="banner--content col-md-6">
                        <h1 class="h2">Something For Everyone in One Plan</h1>

                        <h2 class="h4">WordPress + SSD Hosting + Domain + E-mail</h2>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the make a type specimen book.</p>

                        <a href="#" class="btn btn-default white">Learn More</a>
                    </div>
                    <!-- Banner Content End -->
                </div>
            </div>
        </div>
        <!-- Banner Item End -->

        <!-- Banner Item Start -->
        <div class="banner--item" data-bg-img="{% static 'img/home-banner-img/slider-bg-02.jpg' %}">
            <div class="container">
                <div class="row">
                    <!-- Banner Content Start -->
                    <div class="banner--content col-md-6">
                        <h1 class="h2">Something For Everyone in One Plan</h1>

                        <h2 class="h4">WordPress + SSD Hosting + Domain + E-mail</h2>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the make a type specimen book.</p>

                        <a href="#" class="btn btn-default white">Learn More</a>
                    </div>
                    <!-- Banner Content End -->

                    <!-- Banner Image Start -->
                    <div class="banner--img col-md-6">
                        <img src="{% static 'img/home-banner-img/slider-bg-02.jpg' %}" alt="" data-rjs="2">

                        <!-- Banner Offer Start -->
                        <div class="banner--offer">
                            <p>Up to <strong>30%</strong> Discount on Any Items</p>
                        </div>
                        <!-- Banner Offer Start -->

                        <!-- Banner Offer Start -->
                        <div class="banner--offer large">
                            <p>Starting at <strong>$4.99</strong> Per Year</p>
                        </div>
                        <!-- Banner Offer End -->
                    </div>
                    <!-- Banner Image End -->
                </div>
            </div>
        </div>
        <!-- Banner Item End -->

        <!-- Banner Item Start -->
        <div class="banner--item" data-bg-img="{% static 'img/home-banner-img/slider-bg-03.jpg' %}">
            <div class="container">
                <div class="row">
                    <!-- Banner Image Start -->
                    <div class="banner--img col-md-6">
                        <img src="{% static 'img/home-banner-img/slider-bg-03.jpg' %}" alt="" data-rjs="2">

                        <!-- Banner Offer Start -->
                        <div class="banner--offer">
                            <p>Up to <strong>30%</strong> Discount on Any Items</p>
                        </div>
                        <!-- Banner Offer Start -->

                        <!-- Banner Offer Start -->
                        <div class="banner--offer large">
                            <p>Starting at <strong>$4.99</strong> Per Year</p>
                        </div>
                        <!-- Banner Offer End -->
                    </div>
                    <!-- Banner Image End -->

                    <!-- Banner Content Start -->
                    <div class="banner--content col-md-6">
                        <h1 class="h2">Something For Everyone in One Plan</h1>

                        <h2 class="h4">WordPress + SSD Hosting + Domain + E-mail</h2>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the make a type specimen book.</p>

                        <a href="#" class="btn btn-default white">Learn More</a>
                    </div>
                    <!-- Banner Content End -->
                </div>
            </div>
        </div>
        <!-- Banner Item End -->
    </div>
    <!-- Banner Slider End -->
</div>
<!-- Banner Section End -->

<!-- Steps Section Start -->
<div id="steps" class="pd--100-0-40">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title text-center">
            <h2 class="h2">How it Works</h2>
        </div>
        <!-- Section Title End -->

        <!-- Step Items Start -->
        <div class="step--items row text-center">
            <div class="step--line"></div>

            <!-- Step Item Start -->
            <div class="step--item col-sm-4">
                <div class="step--icon">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <img src="img/steps-img/icon-01.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="step--content">
                    <h3 class="h3">Register Your Domain</h3>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since 1500s</p>
                </div>
            </div>
            <!-- Step Item End -->

            <!-- Step Item Start -->
            <div class="step--item col-sm-4">
                <div class="step--icon">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <img src="img/steps-img/icon-02.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="step--content">
                    <h3 class="h3">Choose Your Hosting Plan</h3>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since 1500s</p>
                </div>
            </div>
            <!-- Step Item End -->

            <!-- Step Item Start -->
            <div class="step--item col-sm-4">
                <div class="step--icon">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <img src="img/steps-img/icon-03.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="step--content">
                    <h3 class="h3">Build Your Website</h3>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since 1500s</p>
                </div>
            </div>
            <!-- Step Item End -->
        </div>
        <!-- Step Items End -->
    </div>
</div>
<!-- Steps Section End -->

<!-- Domain Search Section Start -->
<div id="domainSearch" class="pd--100-0 bg--color-lightgray">
    <div class="container">
        <!-- Domain Search Title Start -->
        <div class="domain-search--title text-center">
            <h2 class="h2">Choose a Domain</h2>
            <h3 class="h3">Starting at <span>$01.99</span> Per Year</h3>
        </div>
        <!-- Domain Search Title End -->

        <!-- Domain Search Form Start -->
        <div class="domain-search--form row" data-form-validation="true">
            <div class="col-md-10 col-md-offset-1">
                <form action="http://billing.ywhmcs.com/domainchecker.php?systpl=GREENSSD" method="post">
                    <div class="inline-block">
                        <div class="input-group">
                            <span class="input-group-addon">www.</span>
                            <input type="text" name="domain" class="form-control" placeholder="enter your domain name"
                                required>
                            <span class="input-group-addon">
                                <select name="ext">
                                    <option value=".com">.com</option>
                                    <option value=".net">.net</option>
                                    <option value=".org">.org</option>
                                    <option value=".io">.io</option>
                                </select>
                            </span>
                        </div>
                    </div>

                    <div class="inline-block">
                        <button type="submit" class="btn btn-default active"><i class="fa fm fa-search"></i>Search
                            Now</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Domain Search Form End -->

        <!-- Domain Search Extensions Start -->
        <div class="domain-search--exts row">
            <div class="col-md-6 col-md-offset-3">
                <div class="owl-carousel" data-owl-items="6"
                    data-owl-responsive='{"0": {"items": "3"}, "481": {"items": "4"}, "768": {"items": "6"}}'>
                    <!-- Domain Search Extension Start -->
                    <div class="domain-search--ext">
                        <h4 class="h4">.com</h4>
                        <p>$02.99/Y</p>
                    </div>
                    <!-- Domain Search Extension End -->

                    <!-- Domain Search Extension Start -->
                    <div class="domain-search--ext">
                        <h4 class="h4">.net</h4>
                        <p>$02.99/Y</p>
                    </div>
                    <!-- Domain Search Extension End -->

                    <!-- Domain Search Extension Start -->
                    <div class="domain-search--ext">
                        <h4 class="h4">.org</h4>
                        <p>$02.99/Y</p>
                    </div>
                    <!-- Domain Search Extension End -->

                    <!-- Domain Search Extension Start -->
                    <div class="domain-search--ext">
                        <h4 class="h4">.tv</h4>
                        <p>$02.99/Y</p>
                    </div>
                    <!-- Domain Search Extension End -->

                    <!-- Domain Search Extension Start -->
                    <div class="domain-search--ext">
                        <h4 class="h4">.edu</h4>
                        <p>$02.99/Y</p>
                    </div>
                    <!-- Domain Search Extension End -->

                    <!-- Domain Search Extension Start -->
                    <div class="domain-search--ext">
                        <h4 class="h4">.army</h4>
                        <p>$02.99/Y</p>
                    </div>
                    <!-- Domain Search Extension End -->

                    <!-- Domain Search Extension Start -->
                    <div class="domain-search--ext">
                        <h4 class="h4">.us</h4>
                        <p>$02.99/Y</p>
                    </div>
                    <!-- Domain Search Extension End -->

                    <!-- Domain Search Extension Start -->
                    <div class="domain-search--ext">
                        <h4 class="h4">.uk</h4>
                        <p>$02.99/Y</p>
                    </div>
                    <!-- Domain Search Extension End -->
                </div>
            </div>
        </div>
        <!-- Domain Search Extensions End -->
    </div>
</div>
<!-- Domain Search Section End -->

<!-- Services Section Start -->
<div id="services" class="pd--100-0-40">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title text-center">
            <h2 class="h2">What We Do</h2>
        </div>
        <!-- Section Title End -->

        <div class="row">
            <div class="col-md-3 col-xs-6 col-xxs-12">
                <!-- Service Item Start -->
                <div class="service--item">
                    <i class="fa fa-server"></i>

                    <h3 class="h4">Shared Hosting</h3>

                    <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the r since the 1500s.</p>

                    <a href="service-single.html" class="btn-link">Learn More</a>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12">
                <!-- Service Item Start -->
                <div class="service--item">
                    <i class="fa fa-database"></i>

                    <h3 class="h4">Reseller Hosting</h3>

                    <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the r since the 1500s.</p>

                    <a href="service-single.html" class="btn-link">Learn More</a>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12">
                <!-- Service Item Start -->
                <div class="service--item active">
                    <i class="fa fa-mixcloud"></i>

                    <h3 class="h4">Cloud Hosting</h3>

                    <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the r since the 1500s.</p>

                    <a href="service-single.html" class="btn-link">Learn More</a>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12">
                <!-- Service Item Start -->
                <div class="service--item">
                    <i class="fa fa-hdd-o"></i>

                    <h3 class="h4">Dedicated Server</h3>

                    <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the r since the 1500s.</p>

                    <a href="service-single.html" class="btn-link">Learn More</a>
                </div>
                <!-- Service Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Services Section End -->

<!-- Pricing Section Start -->
<div id="pricing" class="pd--100-0-40 bg--color-lightgray">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title text-center">
            <h2 class="h2">Popular Pricing Plan</h2>
        </div>
        <!-- Section Title End -->

        <div class="row">
            <div class="col-md-3 col-xs-6">
                <!-- Pricing Item Start -->
                <div class="pricing--item">
                    <div class="pricing--header bg--color-theme">
                        <h3 class="h4">Personal</h3>
                    </div>

                    <div class="pricing--price">
                        <p class="caption-text">Starting at</p>
                        <p class="price-text"><strong><sup>$</sup>05.99</strong>/month</p>
                        <p>Previous Price : <del>$7.50</del></p>
                    </div>

                    <div class="pricing--features">
                        <ul class="nav">
                            <li>All Important Features</li>
                            <li>01 Website</li>
                            <li>Free Domain For Life</li>
                            <li>25 GB SSD Storage</li>
                            <li>Unlimited Transfer</li>
                            <li>cPanel Control Panel</li>
                        </ul>
                    </div>

                    <div class="pricing--footer">
                        <a href="#" class="btn btn-default">Get This Plan</a>
                    </div>
                </div>
                <!-- Pricing Item End -->
            </div>

            <div class="col-md-3 col-xs-6">
                <!-- Pricing Item Start -->
                <div class="pricing--item">
                    <div class="pricing--header bg--color-theme">
                        <h3 class="h4">Classic</h3>
                    </div>

                    <div class="pricing--price">
                        <p class="caption-text">Starting at</p>
                        <p class="price-text"><strong><sup>$</sup>08.99</strong>/month</p>
                        <p>Previous Price : <del>$11.50</del></p>
                    </div>

                    <div class="pricing--features">
                        <ul class="nav">
                            <li>All Important Features</li>
                            <li>Ecommerce Ready</li>
                            <li>Unlimited Website</li>
                            <li>Free Domain For Life</li>
                            <li>35 GB SSD Storage</li>
                            <li>Unlimited Transfer</li>
                            <li>cPanel Control Panel</li>
                        </ul>
                    </div>

                    <div class="pricing--footer">
                        <a href="#" class="btn btn-default">Get This Plan</a>
                    </div>
                </div>
                <!-- Pricing Item End -->
            </div>

            <div class="col-md-3 col-xs-6">
                <!-- Pricing Item Start -->
                <div class="pricing--item active">
                    <div class="pricing--header bg--color-theme">
                        <h3 class="h4">Standard</h3>
                    </div>

                    <div class="pricing--price">
                        <p class="caption-text">Starting at</p>
                        <p class="price-text"><strong><sup>$</sup>12.99</strong>/month</p>
                        <p>Previous Price : <del>$15.50</del></p>
                    </div>

                    <div class="pricing--features">
                        <ul class="nav">
                            <li>All Important Features</li>
                            <li>Ecommerce Ready</li>
                            <li>Unlimited Traffic</li>
                            <li>Unlimited Website</li>
                            <li>Free Domain For Life</li>
                            <li>45 GB SSD Storage</li>
                            <li>Unlimited Transfer</li>
                            <li>cPanel Control Panel</li>
                        </ul>
                    </div>

                    <div class="pricing--footer">
                        <a href="#" class="btn btn-default">Get This Plan</a>
                    </div>
                </div>
                <!-- Pricing Item End -->
            </div>

            <div class="col-md-3 col-xs-6">
                <!-- Pricing Item Start -->
                <div class="pricing--item">
                    <div class="pricing--header bg--color-theme">
                        <h3 class="h4">Premium</h3>
                    </div>

                    <div class="pricing--price">
                        <p class="caption-text">Starting at</p>
                        <p class="price-text"><strong><sup>$</sup>17.99</strong>/month</p>
                        <p>Previous Price : <del>$21.50</del></p>
                    </div>

                    <div class="pricing--features">
                        <ul class="nav">
                            <li>All Important Features</li>
                            <li>Ecommerce Ready</li>
                            <li>Unlimited Traffic</li>
                            <li>Unlimited Website</li>
                            <li>Free Domain For Life</li>
                            <li>55 GB SSD Storage</li>
                            <li>Unlimited Transfer</li>
                            <li>cPanel Control Panel</li>
                            <li>Money Back Gurantee</li>
                        </ul>
                    </div>

                    <div class="pricing--footer">
                        <a href="#" class="btn btn-default">Get This Plan</a>
                    </div>
                </div>
                <!-- Pricing Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Pricing Section End -->

<!-- Features Section Start -->
<div id="features">
    <div class="container-fluid">
        <div class="row">
            <!-- Feature Items Start -->
            <div class="feature--items col-md-6 pt--100 pb--40">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row AdjustRow">
                            <!-- Feature Item Start -->
                            <div class="feature--item col-md-6 col-xs-6 col-xxs-12">
                                <i>01</i>

                                <h2 class="h4">Up to 20x Faster Servers</h2>

                                <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry has
                                    been since the 1500s.</p>
                            </div>
                            <!-- Feature Item End -->

                            <!-- Feature Item Start -->
                            <div class="feature--item col-md-6 col-xs-6 col-xxs-12">
                                <i>02</i>

                                <h2 class="h4">Guru Crew Support</h2>

                                <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry has
                                    been since the 1500s.</p>
                            </div>
                            <!-- Feature Item End -->

                            <!-- Feature Item Start -->
                            <div class="feature--item col-md-6 col-xs-6 col-xxs-12">
                                <i>03</i>

                                <h2 class="h4">99.9% Uptime Guarantee</h2>

                                <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry has
                                    been since the 1500s.</p>
                            </div>
                            <!-- Feature Item End -->

                            <!-- Feature Item Start -->
                            <div class="feature--item col-md-6 col-xs-6 col-xxs-12">
                                <i>04</i>

                                <h2 class="h4">Free 24/7 Priority Support</h2>

                                <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry has
                                    been since the 1500s.</p>
                            </div>
                            <!-- Feature Item End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature Items End -->

            <!-- Feature Video Start -->
            <div class="feature--video col-md-6 pt--100 pb--100" data-bg-img="img/features-img/features-video-bg.jpg">
                <h2 class="h1">Why Choose Us ?</h2>

                <a href="https://www.youtube.com/watch?v=2GqExKSwTEA" class="feature--video-play-btn"
                    data-popup="video"><i class="fa fa-play"></i></a>

                <p>Let’s Take A Video Tour</p>
            </div>
            <!-- Feature Video End -->
        </div>
    </div>
</div>
<!-- Features Section End -->

<!-- Counter Section Start -->
<div id="counter" class="pd--100-0-40" data-bg-img="img/counter-img/bg.jpg">
    <div class="container">
        <div class="row">
            <!-- Counter Item Start -->
            <div class="col-md-3 col-xs-6">
                <div class="counter--item">
                    <p data-counter-up="numbers">1095</p>

                    <h2 class="h3">Domain Registered</h2>

                    <i class="fa fa-globe"></i>
                </div>
            </div>
            <!-- Counter Item End -->

            <!-- Counter Item Start -->
            <div class="col-md-3 col-xs-6">
                <div class="counter--item">
                    <p data-counter-up="numbers">1275</p>

                    <h2 class="h3">Happy Clients</h2>

                    <i class="fa fa-handshake-o"></i>
                </div>
            </div>
            <!-- Counter Item End -->

            <!-- Counter Item Start -->
            <div class="col-md-3 col-xs-6">
                <div class="counter--item">
                    <p data-counter-up="numbers">168</p>

                    <h2 class="h3">Running Projects</h2>

                    <i class="fa fa-file"></i>
                </div>
            </div>
            <!-- Counter Item End -->

            <!-- Counter Item Start -->
            <div class="col-md-3 col-xs-6">
                <div class="counter--item">
                    <p data-counter-up="numbers">299</p>

                    <h2 class="h3">Award Winning</h2>

                    <i class="fa fa-trophy"></i>
                </div>
            </div>
            <!-- Counter Item End -->
        </div>
    </div>
</div>
<!-- Counter Section End -->

<!-- Services Tab Section Start -->
<div id="servicesTab" class="pd--100-0">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title text-center">
            <h2 class="h2">What More We Do</h2>
        </div>
        <!-- Section Title End -->

        <div class="row">
            <!-- Service Tab Nav Start -->
            <div class="service-tab--nav col-md-6">
                <ul class="bg--color-lightgray row">
                    <li class="col-md-6">
                        <div data-toggle="tab" data-target="#servicesTabItem01">
                            <i class="fa fa-paint-brush"></i>

                            <h3 class="h3">Graphic Design</h3>

                            <a href="service-single.html" class="btn-link">Learn More</a>
                        </div>
                    </li>
                    <li class="col-md-6">
                        <div data-toggle="tab" data-target="#servicesTabItem02">
                            <i class="fa fa-television"></i>

                            <h3 class="h3">Web Design</h3>

                            <a href="service-single.html" class="btn-link">Learn More</a>
                        </div>
                    </li>
                    <li class="col-md-6">
                        <div data-toggle="tab" data-target="#servicesTabItem03">
                            <i class="fa fa-code"></i>

                            <h3 class="h3">Web Development</h3>

                            <a href="service-single.html" class="btn-link">Learn More</a>
                        </div>
                    </li>
                    <li class="col-md-6 active">
                        <div data-toggle="tab" data-target="#servicesTabItem04">
                            <i class="fa fa-line-chart"></i>

                            <h3 class="h3">SEO Support</h3>

                            <a href="service-single.html" class="btn-link">Learn More</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Service Tab Nav End -->

            <!-- Service Tabs End -->
            <div class="service--tabs col-md-6">
                <!-- Tab Content Start -->
                <div class="tab-content">
                    <!-- Tab Pane Start -->
                    <div id="servicesTabItem01" class="tab-pane fade">
                        <h3 class="title h3">Graphic Design</h3>

                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o"></i>Cras ornare tristique elit.</li>
                                    <li><i class="fa fa-check-square-o"></i>Vivamus vestibulum nulla nec ante.</li>
                                    <li><i class="fa fa-check-square-o"></i>Praesent placerat risus quis eros.</li>
                                    <li><i class="fa fa-check-square-o"></i>Fusce pellentesque suscipit nibh.</li>
                                    <li><i class="fa fa-check-square-o"></i>Integer vitae libero ac risus egestas
                                        placerat.</li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <img src="img/services-tab-img/graphic-design.jpg" alt="">
                            </div>
                        </div>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <a href="#" class="btn-link">Learn More</a>
                    </div>
                    <!-- Tab Pane End -->

                    <!-- Tab Pane Start -->
                    <div id="servicesTabItem02" class="tab-pane fade">
                        <h3 class="title h3">Web Design</h3>

                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o"></i>Cras ornare tristique elit.</li>
                                    <li><i class="fa fa-check-square-o"></i>Vivamus vestibulum nulla nec ante.</li>
                                    <li><i class="fa fa-check-square-o"></i>Praesent placerat risus quis eros.</li>
                                    <li><i class="fa fa-check-square-o"></i>Fusce pellentesque suscipit nibh.</li>
                                    <li><i class="fa fa-check-square-o"></i>Integer vitae libero ac risus egestas
                                        placerat.</li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <img src="img/services-tab-img/web-design.jpg" alt="">
                            </div>
                        </div>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <a href="#" class="btn-link">Learn More</a>
                    </div>
                    <!-- Tab Pane End -->

                    <!-- Tab Pane Start -->
                    <div id="servicesTabItem03" class="tab-pane fade">
                        <h3 class="title h3">Web Development</h3>

                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o"></i>Cras ornare tristique elit.</li>
                                    <li><i class="fa fa-check-square-o"></i>Vivamus vestibulum nulla nec ante.</li>
                                    <li><i class="fa fa-check-square-o"></i>Praesent placerat risus quis eros.</li>
                                    <li><i class="fa fa-check-square-o"></i>Fusce pellentesque suscipit nibh.</li>
                                    <li><i class="fa fa-check-square-o"></i>Integer vitae libero ac risus egestas
                                        placerat.</li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <img src="img/services-tab-img/web-development.jpg" alt="">
                            </div>
                        </div>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <a href="#" class="btn-link">Learn More</a>
                    </div>
                    <!-- Tab Pane End -->

                    <!-- Tab Pane Start -->
                    <div id="servicesTabItem04" class="tab-pane fade in active">
                        <h3 class="title h3">Search Engine Optimize</h3>

                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o"></i>What Is SEO ?</li>
                                    <li><i class="fa fa-check-square-o"></i>Why Does My Website Need SEO</li>
                                    <li><i class="fa fa-check-square-o"></i>Can I Do SEO For Myself ?</li>
                                    <li><i class="fa fa-check-square-o"></i>How Much of This Article Do I Need to Read ?
                                    </li>
                                    <li><i class="fa fa-check-square-o"></i>It is a long established fact that</li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <img src="img/services-tab-img/seo.jpg" alt="">
                            </div>
                        </div>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <a href="#" class="btn-link">Learn More</a>
                    </div>
                    <!-- Tab Pane End -->
                </div>
                <!-- Tab Content End -->
            </div>
            <!-- Service Tabs End -->
        </div>
    </div>
</div>
<!-- Services Tab Section End -->
{% endblock %}