{% extends 'base.html' %}

{% block title %} {{block.super}} | Home {% endblock %}

{% block content %}
{% load static %}


<!-- Page Header Section Start -->
<div id="pageHeader" class="pd--80-0" data-bg-img="{% static 'img/page-header-img/bg.jpg' %}">
    <div class="container">
        <!-- Page Header Title Start -->
        <div class="page-header--title pull-left">
            <h1 class="h1">Services</h1>
        </div>
        <!-- Page Header Title End -->

        <!-- Page Header Breadcrumb Start -->
        <div class="page-header--breadcrumb pull-right">
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li class="active">Services</li>
            </ul>
        </div>
        <!-- Page Header Breadcrumb End -->
    </div>
</div>
<!-- Page Header Section End -->

<!-- Services Section Start -->
<div id="services" class="pd--100-0-40">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6 col-xxs-12">
                <!-- Service Item Start -->
                <div class="service--item">
                    <i class="fa fa-server"></i>

                    <h2 class="h4">Shared Hosting</h2>

                    <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the r since the 1500s.</p>

                    <a href="service-single.html" class="btn-link">Learn More</a>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12">
                <!-- Service Item Start -->
                <div class="service--item">
                    <i class="fa fa-database"></i>

                    <h2 class="h4">Reseller Hosting</h2>

                    <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the r since the 1500s.</p>

                    <a href="service-single.html" class="btn-link">Learn More</a>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12">
                <!-- Service Item Start -->
                <div class="service--item active">
                    <i class="fa fa-mixcloud"></i>

                    <h2 class="h4">Cloud Hosting</h2>

                    <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the r since the 1500s.</p>

                    <a href="service-single.html" class="btn-link">Learn More</a>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12">
                <!-- Service Item Start -->
                <div class="service--item">
                    <i class="fa fa-hdd-o"></i>

                    <h2 class="h4">Dedicated Server</h2>

                    <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the r since the 1500s.</p>

                    <a href="service-single.html" class="btn-link">Learn More</a>
                </div>
                <!-- Service Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Services Section End -->

<!-- Features Section Start -->
<div id="features" class="bg--color-lightgray">
    <div class="container-fluid">
        <div class="row">
            <!-- Feature Items Start -->
            <div class="feature--items col-md-6 pt--100 pb--40">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row AdjustRow">
                            <!-- Feature Item Start -->
                            <div class="feature--item col-md-6 col-xs-6 col-xxs-12">
                                <i>01</i>

                                <h2 class="h4">Up to 20x Faster Servers</h2>

                                <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry has
                                    been since the 1500s.</p>
                            </div>
                            <!-- Feature Item End -->

                            <!-- Feature Item Start -->
                            <div class="feature--item col-md-6 col-xs-6 col-xxs-12">
                                <i>02</i>

                                <h2 class="h4">Guru Crew Support</h2>

                                <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry has
                                    been since the 1500s.</p>
                            </div>
                            <!-- Feature Item End -->

                            <!-- Feature Item Start -->
                            <div class="feature--item col-md-6 col-xs-6 col-xxs-12">
                                <i>03</i>

                                <h2 class="h4">99.9% Uptime Guarantee</h2>

                                <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry has
                                    been since the 1500s.</p>
                            </div>
                            <!-- Feature Item End -->

                            <!-- Feature Item Start -->
                            <div class="feature--item col-md-6 col-xs-6 col-xxs-12">
                                <i>04</i>

                                <h2 class="h4">Free 24/7 Priority Support</h2>

                                <p>Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry has
                                    been since the 1500s.</p>
                            </div>
                            <!-- Feature Item End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature Items End -->

            <!-- Feature Video Start -->
            <div class="feature--video col-md-6 pt--100 pb--100" data-bg-img="img/features-img/features-video-bg.jpg">
                <h2 class="h1">Why Choose Us ?</h2>

                <a href="https://www.youtube.com/watch?v=2GqExKSwTEA" class="feature--video-play-btn"
                    data-popup="video"><i class="fa fa-play"></i></a>

                <p>Let’s Take A Video Tour</p>
            </div>
            <!-- Feature Video End -->
        </div>
    </div>
</div>
<!-- Features Section End -->

<!-- Services Tab Section Start -->
<div id="servicesTab" class="pd--100-0">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title text-center">
            <h2 class="h2">What More We Do</h2>
        </div>
        <!-- Section Title End -->

        <div class="row">
            <!-- Service Tab Nav Start -->
            <div class="service-tab--nav col-md-6">
                <ul class="bg--color-lightgray row">
                    <li class="col-sm-6">
                        <div data-toggle="tab" data-target="#servicesTabItem01">
                            <i class="fa fa-paint-brush"></i>

                            <h3 class="h3">Graphic Design</h3>

                            <a href="service-single.html" class="btn-link">Learn More</a>
                        </div>
                    </li>
                    <li class="col-sm-6">
                        <div data-toggle="tab" data-target="#servicesTabItem02">
                            <i class="fa fa-television"></i>

                            <h3 class="h3">Web Design</h3>

                            <a href="service-single.html" class="btn-link">Learn More</a>
                        </div>
                    </li>
                    <li class="col-sm-6">
                        <div data-toggle="tab" data-target="#servicesTabItem03">
                            <i class="fa fa-code"></i>

                            <h3 class="h3">Web Development</h3>

                            <a href="service-single.html" class="btn-link">Learn More</a>
                        </div>
                    </li>
                    <li class="col-sm-6 active">
                        <div data-toggle="tab" data-target="#servicesTabItem04">
                            <i class="fa fa-line-chart"></i>

                            <h3 class="h3">SEO Support</h3>

                            <a href="service-single.html" class="btn-link">Learn More</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Service Tab Nav End -->

            <!-- Service Tabs End -->
            <div class="service--tabs col-md-6">
                <!-- Tab Content Start -->
                <div class="tab-content">
                    <!-- Tab Pane Start -->
                    <div id="servicesTabItem01" class="tab-pane fade">
                        <h3 class="title h3">Graphic Design</h3>

                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o"></i>Cras ornare tristique elit.</li>
                                    <li><i class="fa fa-check-square-o"></i>Vivamus vestibulum nulla nec ante.</li>
                                    <li><i class="fa fa-check-square-o"></i>Praesent placerat risus quis eros.</li>
                                    <li><i class="fa fa-check-square-o"></i>Fusce pellentesque suscipit nibh.</li>
                                    <li><i class="fa fa-check-square-o"></i>Integer vitae libero ac risus egestas
                                        placerat.</li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <img src="img/services-tab-img/graphic-design.jpg" alt="">
                            </div>
                        </div>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <a href="#" class="btn-link">Learn More</a>
                    </div>
                    <!-- Tab Pane End -->

                    <!-- Tab Pane Start -->
                    <div id="servicesTabItem02" class="tab-pane fade">
                        <h3 class="title h3">Web Design</h3>

                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o"></i>Cras ornare tristique elit.</li>
                                    <li><i class="fa fa-check-square-o"></i>Vivamus vestibulum nulla nec ante.</li>
                                    <li><i class="fa fa-check-square-o"></i>Praesent placerat risus quis eros.</li>
                                    <li><i class="fa fa-check-square-o"></i>Fusce pellentesque suscipit nibh.</li>
                                    <li><i class="fa fa-check-square-o"></i>Integer vitae libero ac risus egestas
                                        placerat.</li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <img src="img/services-tab-img/web-design.jpg" alt="">
                            </div>
                        </div>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <a href="#" class="btn-link">Learn More</a>
                    </div>
                    <!-- Tab Pane End -->

                    <!-- Tab Pane Start -->
                    <div id="servicesTabItem03" class="tab-pane fade">
                        <h3 class="title h3">Web Development</h3>

                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o"></i>Cras ornare tristique elit.</li>
                                    <li><i class="fa fa-check-square-o"></i>Vivamus vestibulum nulla nec ante.</li>
                                    <li><i class="fa fa-check-square-o"></i>Praesent placerat risus quis eros.</li>
                                    <li><i class="fa fa-check-square-o"></i>Fusce pellentesque suscipit nibh.</li>
                                    <li><i class="fa fa-check-square-o"></i>Integer vitae libero ac risus egestas
                                        placerat.</li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <img src="img/services-tab-img/web-development.jpg" alt="">
                            </div>
                        </div>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <a href="#" class="btn-link">Learn More</a>
                    </div>
                    <!-- Tab Pane End -->

                    <!-- Tab Pane Start -->
                    <div id="servicesTabItem04" class="tab-pane fade in active">
                        <h3 class="title h3">Search Engine Optimize</h3>

                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o"></i>What Is SEO ?</li>
                                    <li><i class="fa fa-check-square-o"></i>Why Does My Website Need SEO</li>
                                    <li><i class="fa fa-check-square-o"></i>Can I Do SEO For Myself ?</li>
                                    <li><i class="fa fa-check-square-o"></i>How Much of This Article Do I Need to Read ?
                                    </li>
                                    <li><i class="fa fa-check-square-o"></i>It is a long established fact that</li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <img src="img/services-tab-img/seo.jpg" alt="">
                            </div>
                        </div>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            more-or-less normal distribution of letters.</p>

                        <a href="#" class="btn-link">Learn More</a>
                    </div>
                    <!-- Tab Pane End -->
                </div>
                <!-- Tab Content End -->
            </div>
            <!-- Service Tabs End -->
        </div>
    </div>
</div>
<!-- Services Tab Section End -->

{% endblock %}